<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
        {{else}}
            <div class="social-links">
                <a style="color: #3273dc;" class="social-link social-link-fb" href="https://www.facebook.com/DiscordExtremeList" aria-label="Facebook" target="_blank" rel="noopener">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a style="color: #3298dc;" class="social-link social-link-tw" href="https://twitter.com/ExtremeList" aria-label="Twitter" target="_blank" rel="noopener">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a style="color: #b114ff; font-size: 14px;" class="social-link social-link-tw" href="https://instagram.com/discordextremelist" aria-label="Instagram" target="_blank" rel="noopener">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a style="color: #ffffff;" class="social-link social-link-tw" href="https://github.com/discordextremelist" aria-label="GitHub" target="_blank" rel="noopener">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a style="color: #f24405;" class="social-link social-link-tw" href="https://www.patreon.com/discordextremelist" aria-label="Patreon" target="_blank" rel="noopener">
                    <i class="fab fa-patreon" aria-hidden="true"></i>
                </a>
            </div>
        {{/if}}
    </div>
</nav>
